{% extends "base.html" %}
{% load static %}

{% block content %}

			
<div class="hero_banner image-cover image_bottom h2_bg">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="simple-search-wrap text-right">
					<div class="hero_search-2">
						<h1 class="banner_title mb-4 font-2">به بهترین سایت داستان ایرانی خوش آمدید.</h1>
						<p class="font-lg mb-4">مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
						<div class="input-group simple_search">
							<i class="fa fa-search ico"></i>
							<input type="text" class="form-control" placeholder="نام دوره آموزش...">
							<div class="input-group-append">
								<button class="btn theme-bg" type="button">جستجو</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="side_block">
					<img src="{% static 'img/side-1.png' %}" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- ============================ Our Awards Start ================================== -->
		<section class="p-0">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="crp_box ovr_top">
							<div class="row align-items-center m-0">
								<div class="col-xl-2 col-lg-3 col-md-2 col-sm-12">
									<div class="crt_169">
										<div class="crt_overt style_2"><h4>4.7</h4></div>
										<div class="crt_stion">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="crt_io90"><h6>3,272 امتیاز</h6></div>
									</div>
								</div>
								<div class="col-xl-10 col-lg-9 col-md-10 col-sm-12">
									<div class="part_rcp">
										<ul>
											<li>
												<div class="dro_140">
													<div class="dro_141"><i class="fa fa-layer-group"></i></div>
													<div class="dro_142"><h6>بهترین آموزش<br>غیرحضوری</h6></div>
												</div>
											</li>
											<li>
												<div class="dro_140">
													<div class="dro_141 st-1"><i class="fa fa-business-time"></i></div>
													<div class="dro_142"><h6>دسترسی<br>مادام العمر</h6></div>
												</div>
											</li>
											<li>
												<div class="dro_140">
													<div class="dro_141 st-2"><i class="fa fa-user-shield"></i></div>
													<div class="dro_142"><h6>بیش از 800<br>شرکت کننده</h6></div>
												</div>
											</li>
											<li>
												<div class="dro_140">
													<div class="dro_141 st-3"><i class="fa fa-journal-whills"></i></div>
													<div class="dro_142"><h6>200+ دوره<br>دردسترس</h6></div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ============================ Our Awards End ================================== -->
		
		<!-- ============================ Latest cources Start ================================== -->
		<section>
			<div class="container">
			
				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-10 text-center">
						<div class="sec-heading center mb-4">
							<h3 class="font-2">جدیدترین آموزش های <span class="theme-cl">رایگان</span></h3>
							<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
						</div>
					</div>
				</div>
				
				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="slide_items">
						
							<!-- Single Item -->
							<div class="lios_item">	
								<div class="crs_grid shadow_none brd">
									<div class="crs_grid_thumb">
										<a href="course-detail.html" class="crs_detail_link">
											<img src="{% static 'img/cr-2.jpg' %}" class="img-fluid rounded" alt="" />
										</a>
										<div class="crs_video_ico">
											<i class="fa fa-play"></i>
										</div>
										<div class="crs_locked_ico">
											<i class="fa fa-lock"></i>
										</div>
									</div>
									<div class="crs_grid_caption">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_cates cl_6"><span>برنامه نویسی</span></div>
											</div>
											<div class="crs_fl_last">
												<div class="crs_price"><h2><span class="theme-cl">149</span><span class="currency">تومان</span></h2></div>
											</div>
										</div>
										<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش ساخت فروشگاه دیجی استایل با لاراول</a></h4></div>
										<div class="crs_info_detail">
											<ul>
												<li><i class="fa fa-clock text-danger"></i><span>2ساعت 5دقیقه</span></li>
												<li><i class="fa fa-video text-success"></i><span>17 دوره</span></li>
											</ul>
										</div>
										<div class="preview_crs_info">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width:50%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
									<div class="crs_grid_foot">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_tutor">
													<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="{% static 'img/user-6.jpg' %}" class="img-fluid circle" alt="" /></a></div>
												</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<ul>
														<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_grid shadow_none brd">
									<div class="crs_grid_thumb">
										<a href="course-detail.html" class="crs_detail_link">
											<img src="{% static 'img/cr-3.jpg' %}" class="img-fluid rounded" alt="" />
										</a>
										<div class="crs_video_ico">
											<i class="fa fa-play"></i>
										</div>
										<div class="crs_locked_ico">
											<i class="fa fa-lock"></i>
										</div>
									</div>
									<div class="crs_grid_caption">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_cates cl_5"><span>مالی</span></div>
											</div>
											<div class="crs_fl_last">
												<div class="crs_price"><h2><span class="theme-cl">99</span><span class="currency">تومان</span></h2></div>
											</div>
										</div>
										<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">دوره حضوری عالی پرورش مدیر مالی</a></h4></div>
										<div class="crs_info_detail">
											<ul>
												<li><i class="fa fa-clock text-danger"></i><span>8 ساعت</span></li>
												<li><i class="fa fa-video text-success"></i><span>32 دوره</span></li>
											</ul>
										</div>
										<div class="preview_crs_info">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width:70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
									<div class="crs_grid_foot">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_tutor">
													<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="{% static 'img/user-5.jpg' %}" class="img-fluid circle" alt="" /></a></div>
												</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<ul>
														<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_grid shadow_none brd">
									<div class="crs_grid_thumb">
										<a href="course-detail.html" class="crs_detail_link">
											<img src="{% static 'img/cr-4.jpg' %}" class="img-fluid rounded" alt="" />
										</a>
										<div class="crs_video_ico">
											<i class="fa fa-play"></i>
										</div>
										<div class="crs_locked_ico">
											<i class="fa fa-lock"></i>
										</div>
									</div>
									<div class="crs_grid_caption">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_cates cl_4"><span>فیزیک</span></div>
											</div>
											<div class="crs_fl_last">
												<div class="crs_price"><h2><span class="theme-cl">49</span><span class="currency">تومان</span></h2></div>
											</div>
										</div>
										<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">تدریس کامل کلاس فیزیک جامع کنکور تجربی</a></h4></div>
										<div class="crs_info_detail">
											<ul>
												<li><i class="fa fa-clock text-danger"></i><span>22 ساعت</span></li>
												<li><i class="fa fa-video text-success"></i><span>40 دوره</span></li>
											</ul>
										</div>
										<div class="preview_crs_info">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
									<div class="crs_grid_foot">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_tutor">
													<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="{% static 'img/user-4.jpg' %}" class="img-fluid circle" alt="" /></a></div>
												</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<ul>
														<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_grid shadow_none brd">
									<div class="crs_grid_thumb">
										<a href="course-detail.html" class="crs_detail_link">
											<img src="{% static 'img/cr-5.jpg' %}" class="img-fluid rounded" alt="" />
										</a>
										<div class="crs_video_ico">
											<i class="fa fa-play"></i>
										</div>
										<div class="crs_locked_ico">
											<i class="fa fa-lock"></i>
										</div>
									</div>
									<div class="crs_grid_caption">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_cates cl_3"><span>پروژه محور</span></div>
											</div>
											<div class="crs_fl_last">
												<div class="crs_price"><h2><span class="theme-cl">129</span><span class="currency">تومان</span></h2></div>
											</div>
										</div>
										<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش ASP.Net - ساخت سایت شخصی</a></h4></div>
										<div class="crs_info_detail">
											<ul>
												<li><i class="fa fa-clock text-danger"></i><span>2ساعت 5دقیقه</span></li>
												<li><i class="fa fa-video text-success"></i><span>35 دوره</span></li>
											</ul>
										</div>
										<div class="preview_crs_info">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
									<div class="crs_grid_foot">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_tutor">
													<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="{% static 'img/user-3.jpg' %}" class="img-fluid circle" alt="" /></a></div>
												</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<ul>
														<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_grid shadow_none brd">
									<div class="crs_grid_thumb">
										<a href="course-detail.html" class="crs_detail_link">
											<img src="{% static 'img/cr-6.jpg' %}" class="img-fluid rounded" alt="" />
										</a>
										<div class="crs_video_ico">
											<i class="fa fa-play"></i>
										</div>
										<div class="crs_locked_ico">
											<i class="fa fa-lock"></i>
										</div>
									</div>
									<div class="crs_grid_caption">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_cates cl_2"><span>فیزیک</span></div>
											</div>
											<div class="crs_fl_last">
												<div class="crs_price"><h2><span class="theme-cl">399</span><span class="currency">تومان</span></h2></div>
											</div>
										</div>
										<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">تدریس ریاضی و آمار دهم انسانی</a></h4></div>
										<div class="crs_info_detail">
											<ul>
												<li><i class="fa fa-clock text-danger"></i><span>10 ساعت</span></li>
												<li><i class="fa fa-video text-success"></i><span>19 دوره</span></li>
											</ul>
										</div>
										<div class="preview_crs_info">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
									<div class="crs_grid_foot">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_tutor">
													<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="{% static 'img/user-2.jpg' %}" class="img-fluid circle" alt="" /></a></div>
												</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<ul>
														<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_grid shadow_none brd">
									<div class="crs_grid_thumb">
										<a href="course-detail.html" class="crs_detail_link">
											<img src="{% static 'img/cr-7.jpg' %}" class="img-fluid rounded" alt="" />
										</a>
										<div class="crs_video_ico">
											<i class="fa fa-play"></i>
										</div>
										<div class="crs_locked_ico">
											<i class="fa fa-lock"></i>
										</div>
									</div>
									<div class="crs_grid_caption">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_cates cl_1"><span>طراحی اپلیکیشن</span></div>
											</div>
											<div class="crs_fl_last">
												<div class="crs_price"><h2><span class="theme-cl">89</span><span class="currency">تومان</span></h2></div>
											</div>
										</div>
										<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش برنامه نویسی‌اندروید</a></h4></div>
										<div class="crs_info_detail">
											<ul>
												<li><i class="fa fa-clock text-danger"></i><span>20 ساعت</span></li>
												<li><i class="fa fa-video text-success"></i><span>27 دوره</span></li>
											</ul>
										</div>
										<div class="preview_crs_info">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width:35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
									<div class="crs_grid_foot">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_tutor">
													<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="{% static 'img/user-1.jpg' %}" class="img-fluid circle" alt="" /></a></div>
												</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<ul>
														<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
														<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<!-- ============================ Latest cources End ================================== -->
		
		<!-- ============================ Our Instructor Start ================================== -->
		<section class="pt-0">
			<div class="container">
			
				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-10 text-center">
						<div class="sec-heading center mb-4">
							<h3 class="font-2">لیست مدرسین <span class="theme-cl">پیشنهادی</span></h3>
							<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
						</div>
					</div>
				</div>
				
				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="tutor-slide">
						
							<!-- Single Item -->
							<div class="lios_item">	
								<div class="crs_trt_grid shadow_none brd">
									<div class="crs_trt_thumb">
										<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="{% static 'img/t-1.png' %}" class="img-fluid" alt="" /></a>
									</div>
									<div class="crs_trt_caption large">
										<div class="instructor_tag"><span>مدرس برتر ریاضیات و فیزیک</span></div>
										<div class="instructor_title"><h4><a href="instructor-detail.html">مصطفی اسلامی</a></h4></div>
										<div class="trt_rate_inf">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star-half filled"></i>
											<span class="alt_rates">(244 نظر ثبت شده)</span>
										</div>
									</div>
									<div class="crs_trt_footer">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_trt_grid shadow_none brd">
									<div class="crs_trt_thumb">
										<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="{% static 'img/t-2.png' %}" class="img-fluid" alt="" /></a>
									</div>
									<div class="crs_trt_caption large">
										<div class="instructor_tag"><span>مدرس برتر ریاضی و فیزیک</span></div>
										<div class="instructor_title"><h4><a href="instructor-detail.html">نادیا ناصری</a></h4></div>
										<div class="trt_rate_inf">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star-half filled"></i>
											<span class="alt_rates">(244 نظر ثبت شده)</span>
										</div>
									</div>
									<div class="crs_trt_footer">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_trt_grid shadow_none brd">
									<div class="crs_trt_thumb">
										<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="{% static 'img/t-3.png' %}" class="img-fluid" alt="" /></a>
									</div>
									<div class="crs_trt_caption large">
										<div class="instructor_tag"><span>مدرس برتر شیمی</span></div>
										<div class="instructor_title"><h4><a href="instructor-detail.html">سروش نجفی نژاد</a></h4></div>
										<div class="trt_rate_inf">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star-half filled"></i>
											<span class="alt_rates">(244 نظر ثبت شده)</span>
										</div>
									</div>
									<div class="crs_trt_footer">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_trt_grid shadow_none brd">
									<div class="crs_trt_thumb">
										<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="{% static 'img/t-4.png' %}" class="img-fluid" alt="" /></a>
									</div>
									<div class="crs_trt_caption large">
										<div class="instructor_tag"><span>دکترای آموزش زبان انگلیسی</span></div>
										<div class="instructor_title"><h4><a href="instructor-detail.html">نرگس حسینی</a></h4></div>
										<div class="trt_rate_inf">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star-half filled"></i>
											<span class="alt_rates">(244 نظر ثبت شده)</span>
										</div>
									</div>
									<div class="crs_trt_footer">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_trt_grid shadow_none brd">
									<div class="crs_trt_thumb">
										<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="{% static 'img/t-5.png' %}" class="img-fluid" alt="" /></a>
									</div>
									<div class="crs_trt_caption large">
										<div class="instructor_tag"><span>مدرس برتر پایتون / جاوا اسکریپت</span></div>
										<div class="instructor_title"><h4><a href="instructor-detail.html">متین کفاشیان</a></h4></div>
										<div class="trt_rate_inf">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star-half filled"></i>
											<span class="alt_rates">(244 نظر ثبت شده)</span>
										</div>
									</div>
									<div class="crs_trt_footer">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="lios_item">
								<div class="crs_trt_grid shadow_none brd">
									<div class="crs_trt_thumb">
										<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="{% static 'img/t-6.png' %}" class="img-fluid" alt="" /></a>
									</div>
									<div class="crs_trt_caption large">
										<div class="instructor_tag"><span>مؤلف و مدرس شیمی کنکور</span></div>
										<div class="instructor_title"><h4><a href="instructor-detail.html">مرضیه قاسمی نیا</a></h4></div>
										<div class="trt_rate_inf">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star-half filled"></i>
											<span class="alt_rates">(244 نظر ثبت شده)</span>
										</div>
									</div>
									<div class="crs_trt_footer">
										<div class="crs_flex">
											<div class="crs_fl_first">
												<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
											</div>
											<div class="crs_fl_last">
												<div class="foot_list_info">
													<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<!-- ============================ Our Instructor End ================================== -->
		
		<!-- ============================ Categories Start ================================== -->
		<section class="min gray">
			<div class="container">
				
				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-8">
						<div class="sec-heading center">
							<h3 class="font-2">دسته بندی های <span class="theme-cl">منتخب</span></h3>
							<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
						</div>
					</div>
				</div>
				
				<div class="row justify-content-center">
					
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
						<div class="cates_crs_wrip">
							<div class="crs_trios">
								<div class="crs_cate_icon"><i class="fa fa-code"></i></div>
								<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">مشاهده</a></div>
							</div>
							<div class="crs_capt_cat">
								<h4>برنامه نویسی</h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت است</p>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
						<div class="cates_crs_wrip">
							<div class="crs_trios">
								<div class="crs_cate_icon"><i class="fa fa-window-restore"></i></div>
								<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">مشاهده</a></div>
							</div>
							<div class="crs_capt_cat">
								<h4>طراحی سایت</h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت است</p>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
						<div class="cates_crs_wrip">
							<div class="crs_trios">
								<div class="crs_cate_icon"><i class="fa fa-leaf"></i></div>
								<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">مشاهده</a></div>
							</div>
							<div class="crs_capt_cat">
								<h4>سبک زندگی</h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت است</p>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
						<div class="cates_crs_wrip">
							<div class="crs_trios">
								<div class="crs_cate_icon"><i class="fa fa-heartbeat"></i></div>
								<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">مشاهده</a></div>
							</div>
							<div class="crs_capt_cat">
								<h4>علوم انسانی</h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت است</p>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
						<div class="cates_crs_wrip">
							<div class="crs_trios">
								<div class="crs_cate_icon"><i class="fa fa-landmark"></i></div>
								<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">مشاهده</a></div>
							</div>
							<div class="crs_capt_cat">
								<h4>بورس و بازار سهام</h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت است</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
						<div class="cates_crs_wrip">
							<div class="crs_trios">
								<div class="crs_cate_icon"><i class="fa fa-photo-video"></i></div>
								<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">مشاهده</a></div>
							</div>
							<div class="crs_capt_cat">
								<h4>طراحی و گرافیک</h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت است</p>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
						<div class="cates_crs_wrip">
							<div class="crs_trios">
								<div class="crs_cate_icon"><i class="fa fa-stamp"></i></div>
								<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">مشاهده</a></div>
							</div>
							<div class="crs_capt_cat">
								<h4>مالی و حسابداری</h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت است</p>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
						<div class="cates_crs_wrip">
							<div class="crs_trios">
								<div class="crs_cate_icon"><i class="fa fa-school"></i></div>
								<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">مشاهده</a></div>
							</div>
							<div class="crs_capt_cat">
								<h4>مدیریت</h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت است</p>
							</div>
						</div>
					</div>
				
				</div>
				
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- ============================ Categories End ================================== -->
		
		<!-- ============================ Pricing Table ================================== -->
		<section class="min">
			<div class="container">
			
				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-8">
						<div class="sec-heading center">
							<h3 class="font-2">پکیج تدریس <span class="theme-cl">غیرحضوری</span></h2>
							<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
						</div>
					</div>
				</div>
				
				<div class="row align-items-center">
					
					<!-- Single Package -->
					<div class="col-lg-4 col-md-4">
						<div class="pricing_wrap">
							<div class="prt_head">
								<h4>پایه</h4>
							</div>
							<div class="prt_price">
								<h2>29<span>تومان</span></h2>
								<span>به ازای هر کاربر، در ماه</span>
							</div>
							<div class="prt_body">
								<ul>
									<li>گارانتی 100% آپتایم</li>
									<li>200 گیگابایت پهنای باند CDN</li>
									<li>20 گیگابایت فضای ذخیره سازی ابری</li>
									<li class="none">پشتیبانی آنلاین</li>
									<li class="none">SLA سازمانی</li>
								</ul>
							</div>
							<div class="prt_footer">
								<a href="#" class="btn choose_package">خرید و فعالسازی</a>
							</div>
						</div>
					</div>
					
					<!-- Single Package -->
					<div class="col-lg-4 col-md-4">
						<div class="pricing_wrap">
							<div class="prt_head">
								<div class="recommended">پیشنهاد هفته</div>
								<h4>نقره ای</h4>
							</div>
							<div class="prt_price">
								<h2>49<span>تومان</span></h2>
								<span>به ازای هر کاربر، در ماه</span>
							</div>
							<div class="prt_body">
								<ul>
									<li>گارانتی 100% آپتایم</li>
									<li>200 گیگابایت پهنای باند CDN</li>
									<li>20 گیگابایت فضای ذخیره سازی ابری</li>
									<li>پشتیبانی آنلاین</li>
									<li class="none">SLA سازمانی</li>
								</ul>
							</div>
							<div class="prt_footer">
								<a href="#" class="btn choose_package active">خرید و فعالسازی</a>
							</div>
						</div>
					</div>
					
					<!-- Single Package -->
					<div class="col-lg-4 col-md-4">
						<div class="pricing_wrap">
							<div class="prt_head">
								<h4>طلایی</h4>
							</div>
							<div class="prt_price">
								<h2>79<span>تومان</span></h2>
								<span>2 کاربر، در ماه</span>
							</div>
							<div class="prt_body">
								<ul>
									<li>گارانتی 100% آپتایم</li>
									<li>200 گیگابایت پهنای باند CDN</li>
									<li>20 گیگابایت فضای ذخیره سازی ابری</li>
									<li>پشتیبانی آنلاین</li>
									<li>SLA سازمانی</li>
								</ul>
							</div>
							<div class="prt_footer">
								<a href="#" class="btn choose_package">خرید و فعالسازی</a>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</section>
		<!-- ============================ Pricing Table End ================================== -->

		<!-- ============================ Students Reviews ================================== -->
		<section class="gray">
			<div class="container">
			
				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-8">
						<div class="sec-heading center">
							<h3 class="font-2" >نظرات <span class="theme-cl">دانش آموختگان</span></h3>
							<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
						</div>
					</div>
				</div>
				
				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12 col-sm-12">
						
						<div class="reviews-slide space">
							
							<!-- Single Item -->
							<div class="single_items lios_item">
								<div class="_testimonial_wrios shadow_none">
									<div class="_testimonial_flex">
										<div class="_testimonial_flex_first">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/user-1.jpg' %}" class="img-fluid" alt="">
											</div>
											<div class="_tsl_flex_capst">
												<h5>کیوان مختاری</h5>
												<div class="_ovr_posts"><span>مدیر عامل</span></div>
												<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
											</div>
										</div>
										<div class="_testimonial_flex_first_last">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/c-1.png' %}" class="img-fluid" alt="">
											</div>
										</div>
									</div>
									
									<div class="facts-detail">
										<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="single_items lios_item">
								<div class="_testimonial_wrios shadow_none">
									<div class="_testimonial_flex">
										<div class="_testimonial_flex_first">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/user-2.jpg' %}" class="img-fluid" alt="">
											</div>
											<div class="_tsl_flex_capst">
												<h5>الهام نجفی</h5>
												<div class="_ovr_posts"><span>مدیر عامل اپل</span></div>
												<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.5</div>
											</div>
										</div>
										<div class="_testimonial_flex_first_last">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/c-2.png' %}" class="img-fluid" alt="">
											</div>
										</div>
									</div>
									
									<div class="facts-detail">
										<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="single_items lios_item">
								<div class="_testimonial_wrios shadow_none">
									<div class="_testimonial_flex">
										<div class="_testimonial_flex_first">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/user-3.jpg' %}" class="img-fluid" alt="">
											</div>
											<div class="_tsl_flex_capst">
												<h5>سعید مرادی</h5>
												<div class="_ovr_posts"><span>موسس گوگل</span></div>
												<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.9</div>
											</div>
										</div>
										<div class="_testimonial_flex_first_last">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/c-3.png' %}" class="img-fluid" alt="">
											</div>
										</div>
									</div>
									
									<div class="facts-detail">
										<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="single_items lios_item">
								<div class="_testimonial_wrios shadow_none">
									<div class="_testimonial_flex">
										<div class="_testimonial_flex_first">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/user-4.jpg' %}" class="img-fluid" alt="">
											</div>
											<div class="_tsl_flex_capst">
												<h5>زهرا حسینی</h5>
												<div class="_ovr_posts"><span>مدیر لینکدین</span></div>
												<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
											</div>
										</div>
										<div class="_testimonial_flex_first_last">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/c-4.png' %}" class="img-fluid" alt="">
											</div>
										</div>
									</div>
									
									<div class="facts-detail">
										<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
									</div>
								</div>
							</div>
							
							<!-- Single Item -->
							<div class="single_items lios_item">
								<div class="_testimonial_wrios shadow_none">
									<div class="_testimonial_flex">
										<div class="_testimonial_flex_first">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/user-5.jpg' %}" class="img-fluid" alt="">
											</div>
											<div class="_tsl_flex_capst">
												<h5>مسعود شریعتی</h5>
												<div class="_ovr_posts"><span>مدیر عامل</span></div>
												<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
											</div>
										</div>
										<div class="_testimonial_flex_first_last">
											<div class="_tsl_flex_thumb">
												<img src="{% static 'img/c-5.png' %}" class="img-fluid" alt="">
											</div>
										</div>
									</div>
									
									<div class="facts-detail">
										<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
									</div>
								</div>
							</div>
						
						</div>
					
					</div>
				</div>
				
			</div>
		</section>
		<!-- ============================ Students Reviews End ================================== -->
		
		<!-- ============================ Download App ================================== -->

		<div class="clearfix"></div>
		<!-- ============================ Download App ================================== -->

{% endblock content %}



